# macOS files
*.DS_store

# csv files
*.csv


# git usefull commands

# git reset -> unstaged files
# git reset --soft HEAD^ --> remove the last local (unpushed) commit, but will keep changes (!= --hard)
